
.demo-header .mdl-layout__header-row {
  color: white;
  background-color: #E91E63;
  padding-left: 40px;
  height: 60px;
}

.demo-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.demo-content {
  border-radius: 2px;
  padding: 60px;
  margin-bottom: 20%;
}

.demo-layout.is-small-screen .demo-content {
  padding: 40px 28px;
}

