<!doctype html>
<html lang="en">
  <head>
    <title>python</title>
    <link rel="shortcut icon" href="static/img/favicon.ico">
    <link rel="stylesheet" href="static/css/styles.css">
  </head>
  <body>
    <div class="demo-layout">
      <header class="header">
        <div class="">
          <span class="header-text">python</span>
          <div class="mdl-layout-spacer"></div>
        </div>
      </header>
      <main class="demo-main">
        <div class="middle">
          <p><h3>Connection to DB: {{ db_output }}</h3></p>
        </div>
      </main>
    </div>
  </body>
</html>